<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>The Real Great Wall</title>
    <meta name="description" content="The Real Great Wall">
    <link id="favicon" rel="icon" href="https://cdn.hyperdev.com/us-east-1%3Aa4e699a8-d495-4e1a-adaf-ec1060021a42%2Ffavicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <script src="https://www.gstatic.com/firebasejs/3.2.1/firebase.js"></script>
  </head>
  <body>
    <div id="list" style="display: none;"></div>
    <div id="main">
      <span class="b_yellow" id="count_box">0 Bricks</span>
      <div id="banner" class="b_yellow">The Real Great Wall</div>
      <div id="banner2" class="b_yellow">SIGN YOUR NAME TO ADD A BRICK TO THE WALL</div>
      <div><p id="mainText">
        Dear Donald Trump, <br><br>

        We’re done. No longer will we stand in silence as you advocate hatred, racism, and fear in order to “Make America Great Again.” The world doesn’t work that way, and it never will. Not Today, not tomorrow, not ever.<br><br>

        You seem to have a very simple plan to achieve greatness, starting with a “great, great wall.”<br><br>

        Well Mr. Trump, our plan is simple too.<br><br>

        You want a wall? Great, we’ll build one. Right here, brick by brick. High enough to keep you and your bigotry, intolerance as far away from the rest of us as possible.<br><br>

        See you on the other side, Donald.<br><br>
        Yours Truly,
      </p></div>
      <br><br>
      <div id='nameArea'>
        <label class="courier" for='nameInput'>Name</label>
        <input id= "nameInput" style="width: 125px; height: 25px; display: inline-block" type='text'/>
        <label id="emailLabel" class="courier" for='emailInput' style="z-index: 999;">&nbsp Email(?)</label>
        <input id='emailInput' style="width: 125px; height: 25px; display: inline-block" type='text'>
        <label class="courier" for='cityInput' style="z-index: 999;">City</label>
        <input id='cityInput' style="width: 125px; height: 25px; display: inline-block" type='text'>
      </div>
      <br>
      <div id='commentArea'>
        <label for='commentInput' class="courier">Comment</label>
        <textarea id='commentInput' style="width: 200px; height: 50px"></textarea>
      </div>
      
      <div id="brickButton"><button class="b_yellow courier bolder" >Lay Your Brick</button></div>
      <br>
      <img class="img-hor" style = "position:absolute; top: 125px; left: 780px; width: 300px; z-index: -5" src="https://cdn.hyperdev.com/us-east-1%3Aa4e699a8-d495-4e1a-adaf-ec1060021a42%2FDonald_Trump_stat.png"><img>
      <div id='target'></div>
      
    </div>
    
    


    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <!--<script>-->
      <!--function closeM(){-->
        <!--$("#main").show();-->
        <!--$("list").hide()-->
      <!--}-->
    <!--</script>-->
    <script src="/client.js"></script>
    
    <script>
      function showList(){
        $.ajax({
          url: "/render",
          type: "GET",
          success: function(data){
            for(var i=0; i<data.length; i++){
              var title = data[i].message
              console.log(title)
            }
          },
          error: function(xhr, status, err){
            console.log(err);
          }
        });
      }
    </script>
        
  </body>
</html>
